
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>
    {% block csrf_token %}{% csrf_token %}{% endblock %}

</head>
<body>
    {% block content %}
    Registro de P2P Connect App
    <form action="" id="reg_form" method="POST">
        {% csrf_token %}

        <label for="fcarne">Carne:</label><br>
        <input type="text" id="fcarne" name="fcarne"><br>
        <label for="fname">Full Name:</label><br>
        <input type="text" id="fname" name="fname">
        <button type="submit">Registrar</button>

    </form>
    <script type="text/javascript" src="{% static 'js/registerUser.js' %}"></script>
    
    {% endblock %}
  
</body>
</html>
